/*rgb(147,133,119);*/
/*#180E00*/
/*#473F36*/
/*#4D463C*/

body {
	background:  #FBDDFA url("../img/body-bg1700.jpg") repeat;
	font-family: "Highliner", sans-serif;
	color: #fbf4dd;
	/*font-size: 60px;*/
	/*font-family: "Gabriola", "Arial", sans-serif;*/
}
@media (min-width: 1200px) {
	.container {
	    width: 1000px;
	}
	.wrapper-menu {
		display: none;
	}
}
.header-col {
	padding-top: 15px;
	text-align: center;
}
.header-col-phone {
	padding-top: 3px;
}
.header-phone {
	font-size: 4em;
	line-height: 0.8;
	color: #473F36;
}
.col-social-icon {
	padding-top: 35px;
}
.col-social-icon:active:hover:focus {
	background-color: rgba(179,145,107,.8);
}

.fa {
	color: #fbf4dd;
}
.fa:hover {
	color: rgb(71,63,54);
}
.fa:active {
	color: #473F36;
}
.fa:focus {
	color: #473F36;
}
.btn-lg,
.btn-group-lg > .btn {
    padding: 13px 35px;
    font-size: 4em;
    line-height: 0.8;
    border-radius: 0px;
    border: 2px solid #8e7568;
}
.btn-social-icon.btn-xs {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    background-color: rgba(120,109,98,.8);
}
.btn-social-icon:hover.btn-xs {
    background-color: rgba(120,109,98,.5);
}
.btn-social-icon.btn-xs > :first-child {
    line-height: 75px;
    font-size: 4em;
}
.btn-phone {
	height: 200px;
	height: 68px;
	width: 240px;
	margin-right: 10px;
	background-color: rgba(120,109,98,.8);
	padding: 4px 90px 10px 15px;
	color: #fbf4dd;
	position: relative;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 3.5em;
	line-height: 0.5;
	border-radius: 3px;
	border-color: rgba(0,0,0,0.2);
	font-weight: bold;
}
.btn-phone:hover {
	background-color: rgba(120,109,98,.5);
	color: #473F36;
	/*color: #473F36;*/
	/*color: rgba(245,219,162,.9);*/
	/*background-color: rgba(120,109,98,.83);*/
}
.btn-phone:active {
	color: #473F36;
}
.btn-phone:focus {
	color: #473F36;
}
.btn-phone-icon:after {
	content: "\260e";
	position: absolute;
	top: 0px;
	left: 1;
	right: 15px;
	width: 60px;
	height: 60px;
	line-height: 70px;
	font-size: 130%;
	font-weight: 700;
	text-align: center;
	/*text-shadow: #4D463C 0 1px 2px;*/
	color: #fbf4dd;
	margin: auto;
}
.btn-phone:hover .btn-phone-icon::after {
	color: rgba(71,63,54,.8);
}
.btn-phone:active .btn-phone-icon::after {
 	color: rgba(71,63,54,.8);
}
.btn-phone:focus .btn-phone-icon::after {
 	color: rgba(71,63,54,.8);
}
.wrapper-menu {
	height: 110px;
	max-width: 940px;
	margin: 0 auto;
	border-radius: 0 0 40px 40px;
}
@media (min-width: 768px) {
	.wrapper-menu {
		display: none;
	}
}
.wrapper-menu .container{
	max-width: 940px;
}
.navbar-default {
    background-color: rgba(0,0,0,.0);
    border-color: rgba(0,0,0,.0);
}
.nav > li > a {
    padding: 0px 30px;
}
.nav > li:last-child > a {
    padding: 0px 40px 0px 0px;
}
@media (max-width: 900px) {
	.nav > li:last-child > a {
	    padding: 0px 30px;
	}
	.navbar-brand {
	    height: 37px;
	}
}
.navbar-default .navbar-nav > li > a {
  color: #4c4c4c;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fbf4dd;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-nav > li > a {
    line-height: 24px;
    font-size: 24px;
}
.navbar-brand__logo {
	position: absolute;
	margin: 0 auto;
	top: 5px;
	right: 0;
	left: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.container-fluid {
    margin-top: 35px;
}
.navbar-toggle {
    margin-top: -20px;
    float: left;
}
.navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
}
.carousel {
    width: auto;
    max-width: 900px;
    height: 300px;
    margin: 15px auto 0;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 300px;
    width: auto;
    max-width: 900px;
}
.carousel-caption {
	/*font-size: 4em;*/
	line-height: 30px;
}

.carousel-caption {
    font-size: 4em;
    line-height: 80%;
}
.carousel-caption {
    right: 10px;
    left: 10px;
    padding-bottom: 0px;
}
.carousel-indicators {
    bottom: 60px;
}
.carousel-inner > .item {
    height: 100%;
    background-color: rgba(137,115,102,.8);
}
.carousel-inner {
    height: 100%;
}
.carousel {
    height: 370px;
}

/*фон на стрелочках на корусели*/
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(137, 115, 102, .7) 0%, rgba(137, 115, 102, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(137, 115, 102, .7) 0%, rgba(137, 115, 102, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(137, 115, 102, .7)), to(rgba(137, 115, 102, .0001)));
    background-image: linear-gradient(to right, rgba(137, 115, 102, .7) 0%, rgba(137, 115, 102, .0001) 100%);
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(137, 115, 102, .0001) 0%, rgba(137, 115, 102, .7) 100%);
    background-image: -o-linear-gradient(left, rgba(137, 115, 102, .0001) 0%, rgba(137, 115, 102, .7) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(137, 115, 102, .0001)), to(rgba(137, 115, 102, .7)));
    background-image: linear-gradient(to right, rgba(137, 115, 102, .0001) 0%, rgba(137, 115, 102, .7) 100%);
}

h1 {
	margin-bottom: 0;
	line-height: 0.8;
    font-size: 8em;
}
h2 {
	margin: 0;
	line-height: 0.8;
    font-size: 6em;
}
/*.wrapper-promo {
	overflow: hidden;
	margin: 0;
	width: 72%;
	float: left;
}*/
.order-wrapper {
	max-width: 930px;
	margin: 20px auto;
}
.features-column {
	margin-bottom: 30px;
}
.feature {
	/*padding: 10px;*/
	height: 623px;
	background-color: rgba(0,0,0,0.2);
}
.order-form {
    padding: 17px 0px 0px 0px;
    margin-top: 13px;
    border: 1px solid #76451A;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 13px;
    animation-delay: 6000ms;
    text-align: center;
}
.order-form__quest {
	font-size: 200%;
	font-weight: 600;
	line-height: 80%;
}
.order-form__input {
	border: 1px solid #f7f8f8;
	border-radius: 5px;
	margin-bottom: 3px;
	padding-left: 5px;
	width: 85%;
}
.btn-order {
	width: 90%;
	margin-top: 5px;
	border-radius: 5px;
	background: #9a7f80;
	border: 0px solid;
}
.btn-order__txt {
	color: #fbf4dd;
	font-weight: bold;
	font-size: 15px;
}
.feature {
	overflow: hidden;
	width: 100%;
	text-align: center;
	cursor: pointer;
    background-color: transparent;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
}
.feature__cake img,
.feature__cupcake img,
.feature__filling img {
	transition: transform 0.6s;
}
.feature__cake:hover img,
.feature__cupcake:hover img,
.feature__filling:hover img {
	transform: scale(1.1);
}
.teaser {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	padding: 15px;
	opacity: 1;
	border: 1px solid #fff;
	border: 1px solid rgba(255,255,255,0.6);
	-webkit-transition: border 2s;
	-moz-transition: border 2s;
	-o-transition: border 2s;
	transition: border 2s;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.teaser h2 {
    padding: 20px 30px 55px;
    margin: 0;
    color: rgba(71, 63, 54, 0.7);
    line-height: 0.4;
	font-size: 15em;
    white-space: nowrap;
    background-color: #fff;
    background-color: rgba(255,255,255,0.6);
	transition: transform 0.6s, padding 0.9s;
}
.feature__cake:hover .teaser,
.feature__cupcake:hover .teaser,
.feature__filling:hover .teaser {
	border: none;
	z-index: 100;
}
.feature__cake:hover figcaption,
.feature__cupcake:hover figcaption,
.feature__filling:hover figcaption {
    background: rgba(0, 0, 0, .6);
}
.feature__cake:hover .teaser h2,
.feature__cupcake:hover .teaser h2,
.feature__filling:hover .teaser h2 {
	transform: translateY(-120%);
	color: #fbf4dd;
	background-color: transparent;
	padding: 0 0 30px;
	border-bottom: 2px solid rgba(255,255,255,0.9);
}
.feature__filling:hover .teaser h2 {
	transform: translateY(-70%);
}
figcaption {
    position: absolute;
    top: 0;
    left: 15px;
    width: 435px;
    height: 100%;
    z-index: 98;
    transition: width 0.55s;
}
figcaption:hover {
    transition: width 9.55s;
}
.caption {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.caption svg {
	margin-top: 150px;
	height: 65px;
	z-index: 99;
}
.feature__filling .caption svg {
	margin-top: 215px;
}
.caption span {
    opacity: 0;
    transition: opacity 0.55s, transform 0.6s;
}
.feature__cake:hover span,
.feature__filling:hover span,
.feature__cupcake:hover span {
	opacity: 1;
    transform: translateY(50%);
}
.caption h4 {
	position: relative;
	top: -80px;
	font-size: 80px;
	padding-bottom: 7px;
    opacity: 0;
    color: #fbf4dd;
    -webkit-transition: opacity 0.55s,-webkit-transform 0.6s;
    -moz-transition: opacity 0.55s,-moz-transform 0.6s;
    -o-transition: opacity 0.55s,-o-transform 0.6s;
    transition: opacity 0.55s,transform 0.6s;
}
.feature__cake:hover h4,
.feature__cupcake:hover h4,
.feature__filling:hover h4 {
    opacity: 1;
    -webkit-transform: translate3d(0, 80px, 0) scale(1);
    -moz-transform: translate3d(0, 80px, 0) scale(1);
    -ms-transform: translate3d(0, 80px, 0) scale(1);
    -o-transform: translate3d(0, 80px, 0) scale(1);
    transform: translate3d(0, 80px, 0) scale(1);
}
.feature__filling {
	height: 100%
}
.feature__filling figcaption {
    position: absolute;
    top: 0;
    left: 15px;
    width: 900px;
    height: 435px;
}
.feature__social figcaption {
    height: 577px;
}
.feature__social .teaser h2 {
	font-size: 10em;
}
.feature__filling {
    margin-bottom: 30px;
}
.feature__social figcaption img {
	width: 80px;
}
.feature__social span {
	display: block;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	height: 63px;
}
.feature__social:hover h4 {
    -webkit-transform: translate3d(0, 150px, 0) scale(1);
    -moz-transform: translate3d(0, 150px, 0) scale(1);
    -ms-transform: translate3d(0, 150px, 0) scale(1);
    -o-transform: translate3d(0, 150px, 0) scale(1);
    transform: translate3d(0, 150px, 0) scale(1);
}
.feature__social:hover .teaser h2 {
	transform: translateY(-170%);
}













footer {
	margin: 0px 2% 30px;
	height: 100px;
	background-color: rgba(120,109,98,.7);
}