/*rgb(147,133,119);*/
/*#180E00*/
/*#473F36*/
/*#4D463C*/

body {
	background:  #FBDDFA url("../img/body-bg1700.jpg") repeat;
	font-family: "Highliner", sans-serif;
	color: #fbf4dd;
	/*font-size: 60px;*/
	/*font-family: "Gabriola", "Arial", sans-serif;*/
}
@media (min-width: 1200px) {
	.container {
	    width: 1000px;
	}
}
@media (max-width: 1000px) {
	.container {
	    width: 100%;
	}
}
@media (max-width: 480px) {
	.container {
	    width: 480px;
	}
}
.header-col {
	text-align: right;
	padding: 15px 1% 0;
}
.header-col-phone {
	padding-top: 3px;
	height: 12vw;
	max-height: 131px;
	text-align: center;
}
@media (min-width: 980px) {
	.header-col-phone {
	    line-height: 180px;
	}
}
@media (min-width: 900px) and (max-width: 980px) {
	.header-col-phone {
	    line-height: 18vw;
	}
}
@media (min-width: 768px) and (max-width: 900px) {
	.header-col-phone {
	    line-height: 19vw;
	}
}
@media (min-width: 640px) and (max-width: 767px) {
	.header-col-phone {
	    line-height: 20.5vw;
	}
}
@media (min-width: 980px) {
	.header-phone {
	    font-size: 80px;
	}
}
@media (min-width: 768px) and (max-width: 980px) {
	.header-phone {
	    font-size: 7.5vw;
	}
}
.header-phone {
	line-height: 0.8;
	background-color: rgba(120,109,98,.5);
	padding: 0 4% 2%;
	color: #fbf4dd;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.2);
}
.logo {
		min-width: 200px;
	}
.col-social-icon {
	padding-top: 35px;
}
@media (min-width: 768px) and (max-width: 900px) {
	.logo {
		width: 100%;
	}
	.header-col-phone-xs {
		display: none;
	}
}
@media (max-width: 767px) {
	.logo {
		width: 50%;
	}
	.header-col {
		text-align: center;
	}
	.col-social-icon {
		width: 50%;
		float: right;
		padding-top: 0;
	}
	.header-col-phone {
		width: 50%;
		padding-top: 0;
		float: left;
	}
	.header-phone {
		background-color: rgba(120,109,98,.5);
		padding: 0% 4%;
		font-size: 9.5vw;
		display: block;
		height: 9.5vw;
    	width: 80%;
    	margin: 0 auto;
	}
	.header-col-phone-big {
		display: none;
	}
	.header-col-phone-xs {
		display: block;
	}
	.header-col {
		padding-top: 15px;
	}
	.header-col-logo {
		padding-top: 15px;
	}
}
@media (max-width: 438px) {
	.col-social-icon {
		width: 100%;
		float: none;
	}
	.header-col-phone {
		width: 100%;
		float: none;
	}
	.header-phone {
		background-color: rgba(120,109,98,.5);
		padding: 0% 4%;
		font-size: 50px;
		height: auto;
    	width: 240px;
    	margin: 0 auto;
	}
	.header-col {
		padding-top: 5px;
	}
	.header-col-logo {
		padding-top: 10px;
	}
	.header-col-phone {
		height: 50px;
	}
}
.col-social-icon:active:hover:focus {
	background-color: rgba(179,145,107,.8);
}
.fa {
	color: #fbf4dd;
}
.fa:hover {
	color: rgb(71,63,54);
}
.fa:active {
	color: #473F36;
}
.fa:focus {
	color: #473F36;
}
/*.btn-lg,
.btn-group-lg > .btn {
    padding: 13px 35px;
    line-height: 0.8;
    border-radius: 0px;
    border: 2px solid #8e7568;
}*/

@media (min-width: 980px) {
	.btn-social-icon.btn-xs {
		height: 80px;
    	width: 80px;
	}
}
@media (min-width: 768px) and (max-width: 980px) {
	.btn-social-icon.btn-xs {
		height: 8vw;
    	width: 8vw;
	}
}
@media (min-width: 438px) and (max-width: 767px) {
	.btn-social-icon.btn-xs {
		height: 9.5vw;
    	width: 9.5vw;
	}
}
@media (min-width: 0px) and (max-width: 437px) {
	.btn-social-icon.btn-xs {
		height: 45px;
    	width: 45px;
	}
}
.btn-social-icon.btn-xs {
    margin-right: 3%;
    background-color: rgba(120,109,98,.8);
}

.btn-social-icon:hover.btn-xs {
    background-color: rgba(120,109,98,.5);
}
@media (min-width: 980px) {
	.btn-social-icon.btn-xs > :first-child {
	    line-height: 80px;
	    font-size: 50px;
	}
}
@media (min-width: 768px) and (max-width: 980px) {
	.btn-social-icon.btn-xs > :first-child {
	    line-height: 7.5vw;
	    font-size: 5vw;
	}
}
@media (min-width: 438px) and (max-width: 767px) {
	.btn-social-icon.btn-xs > :first-child {
	    line-height: 9.5vw;
	    font-size: 5.7vw;
	}
	.title {
		margin: 0;
		text-align: center;
		font-size: 60px;
		line-height: 50px;
	}
}
@media (min-width: 0px) and (max-width: 437px) {
	.btn-social-icon.btn-xs > :first-child {
	    line-height: 45px;
	    font-size: 28px;
	}
	.btn-social-icon.btn-viber {
		margin-right: 0;
	}
}
@media (min-width: 768px) {
	.btn-viber {
	    display: none;
	}
}

.carousel {
    max-width: 900px;
    margin: 15px auto 0;
}
.carousel-caption {
	line-height: 35px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(120,109,98,.8);
}
@media (max-width: 639px) {
	.carousel {
		display: none;
	}
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: auto;
}
@media (min-width: 900px) {
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	    height: 300px;
	}
	.carousel {
		height: 300px;
	}
	.carousel-caption {
	    font-size: 55px;
	    height: 55px;
	    line-height: 45px;
	}
}
@media (min-width: 800px) and (max-width: 899px) {
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	    height: auto;
	}
	.carousel {
		height: 258px;
	}
	.carousel-caption {
	    font-size: 6vw;
	    height: 5.5vw;
	}
}
@media (min-width: 768px) and (max-width: 799px) {
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	    height: auto;
	}
	.carousel {
		height: 247px;
	}
	.carousel-caption {
	    font-size: 6vw;
	    height: 5.5vw;
	}
}
@media (min-width: 640px) and (max-width: 767px) {
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	    height: auto;
	}
	.carousel {
		height: 204px;
	}
	.carousel-caption {
	    font-size: 6vw;
	    height: 5vw;
	    line-height: 25px;
	}
}

.carousel-indicators {
    bottom: 45px;
}
@media (min-width: 800px) and (max-width: 899px) {
	.carousel-indicators {
	    bottom: 35px;
	}
}
@media (min-width: 768px) and (max-width: 799px) {
	.carousel-indicators {
	    bottom: 32px;
	}
}
@media (min-width: 640px) and (max-width: 767px) {
	.carousel-indicators {
	    bottom: 20px;
	}
}

.carousel-indicators li{;
    border: 1px solid rgba(0,0,0,.3);
    background-color: #E8C899;
}
.carousel-indicators .active{
    background-color: #F56990;
}
.carousel-inner > .item {
    height: 100%;
    background-color: rgba(120,109,98,.6);
}
.carousel-inner {
    height: 100%;
}

/*фон на стрелочках на корусели*/
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(120,109,98, .7) 0%, rgba(120,109,98, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(120,109,98, .7) 0%, rgba(120,109,98, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(120,109,98, .7)), to(rgba(120,109,98, .0001)));
    background-image: linear-gradient(to right, rgba(120,109,98, .7) 0%, rgba(120,109,98, .0001) 100%);
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(120,109,98, .0001) 0%, rgba(120,109,98, .7) 100%);
    background-image: -o-linear-gradient(left, rgba(120,109,98, .0001) 0%, rgba(120,109,98, .7) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(120,109,98, .0001)), to(rgba(120,109,98, .7)));
    background-image: linear-gradient(to right, rgba(120,109,98, .0001) 0%, rgba(120,109,98, .7) 100%);
}

h1 {
	margin-bottom: 0;
	line-height: 0.8;
    font-size: 8em;
}
h2 {
	margin: 0;
	line-height: 0.8;
    font-size: 6em;
}
.order-wrapper {
	max-width: 930px;
	margin: 20px auto;
}
.features-column {
	margin-bottom: 30px;
}

@media (min-width: 900px){
	.order-wrapper {
	    max-width: 930px;
	    margin-top: 30px;
	}
	.wrapper-features-container {
		padding: 0;
	}
}

@media (min-width: 0px) and (max-width: 900px) {
	.order-wrapper {
		width: 100%;
	}
	.wrapper-features-container {
		padding: 0;
	}
	.cake-column {
		padding-right: 10px;
		/*margin-right: 10px*/
	}
	.cupcake-column {
		padding-left: 10px;
	}
	.features-column {
		margin-bottom: 20px;
	}
}
.feature {
	height: auto;
	background-color: rgba(0,0,0,0.2);
	overflow: hidden;
	width: 100%;
	text-align: center;
	cursor: pointer;
    background-color: transparent;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
}
@media (max-width: 930px){
	.feature img {
		height: auto;
		width: 100%;
	}
}
.feature__cake img,
.feature__cupcake img,
.feature__filling img {
	transition: transform 0.6s;
}
.feature__cake:hover img,
.feature__cupcake:hover img,
.feature__filling:hover img {
	transform: scale(1.1);
}
.teaser {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	padding: 15px;
	opacity: 1;
	border: 1px solid rgba(255,255,255,0.6);
	-webkit-transition: border 2s;
	-moz-transition: border 2s;
	-o-transition: border 2s;
	transition: border 2s;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.teaser h2 {
    padding: 20px 30px 55px;
    margin: 0;
    color: rgba(71, 63, 54, 0.7);
    line-height: 0.4;
	font-size: 210px;
    white-space: nowrap;
    background-color: rgba(255,255,255,0.6);
	transition: transform 0.6s, padding 0.9s;
}
@media (max-width: 767px) {
	.teaser h2 {
	    font-size: 21vw;
	}
}

.feature__cake:hover .teaser,
.feature__cupcake:hover .teaser,
.feature__filling:hover .teaser {
	border: none;
	z-index: 100;
}
.feature__cake:hover figcaption,
.feature__cupcake:hover figcaption,
.feature__filling:hover figcaption {
    background: rgba(0, 0, 0, .6);
}
.feature__cake:hover .teaser h2,
.feature__cupcake:hover .teaser h2,
.feature__filling:hover .teaser h2 {
	transform: translateY(-120%);
	color: #fbf4dd;
	background-color: transparent;
	padding: 0 0 30px;
	border-bottom: 2px solid rgba(255,255,255,0.9);
}
.feature__filling:hover .teaser h2 {
	transform: translateY(-70%);
}
@media (max-width: 768px) {
	.feature__filling:hover .teaser h2 {
		transform: translateY(-80%);
	}
}
figcaption {
    position: absolute;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 100%;
    z-index: 98;
    transition: width 0.55s;
}

@media (max-width: 899px) {
	figcaption {
		width: calc(100% - 25px);
	}
	.cupcake-figcaption {
		left: 10px;
	}
}
figcaption:hover {
    transition: width 9.55s;
}
.caption {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.caption svg {
	margin-top: 100%;
	height: 65px;
	z-index: 99;
}
.feature__filling .caption svg {
	margin-top: 220px;
}
@media (min-width: 900px) and  (max-width: 980px){
	.feature__filling .caption svg {
		margin-top: 19vw;
	}
}
@media (max-width: 900px) {
	.feature__filling .caption svg {
		margin-top: 22vw;
	}
}

.caption span {
    opacity: 0;
    transition: opacity 0.55s, transform 0.6s;
}
.feature__cake:hover span,
.feature__filling:hover span,
.feature__cupcake:hover span {
	opacity: 1;
    transform: translateY(50%);
}
.caption h4 {
	position: relative;
	top: -80px;
	font-size: 80px;
	padding-bottom: 7px;
    opacity: 0;
    color: #fbf4dd;
    -webkit-transition: opacity 0.55s,-webkit-transform 0.6s;
    -moz-transition: opacity 0.55s,-moz-transform 0.6s;
    -o-transition: opacity 0.55s,-o-transform 0.6s;
    transition: opacity 0.55s,transform 0.6s;
}
@media (min-width: 0px) and (max-width: 900px) {
	.caption h4 {
		font-size: 10vw;
	}
}
.feature__cake:hover h4,
.feature__cupcake:hover h4,
.feature__filling:hover h4 {
    opacity: 1;
    -webkit-transform: translate3d(0, 80px, 0) scale(1);
    -moz-transform: translate3d(0, 80px, 0) scale(1);
    -ms-transform: translate3d(0, 80px, 0) scale(1);
    -o-transform: translate3d(0, 80px, 0) scale(1);
    transform: translate3d(0, 80px, 0) scale(1);
}
@media (min-width: 0px) and (max-width: 900px) {
	.feature__filling:hover h4 {
	    opacity: 1;
	    -webkit-transform: translate3d(0, 60px, 0) scale(1);
	    -moz-transform: translate3d(0, 60px, 0) scale(1);
	    -ms-transform: translate3d(0, 60px, 0) scale(1);
	    -o-transform: translate3d(0, 60px, 0) scale(1);
	    transform: translate3d(0, 60px, 0) scale(1);
	}
}
.feature__filling {
	height: 100%
}
.feature__filling figcaption {
    position: absolute;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 100%;
}
.feature__social figcaption {
    height: 577px;
}
.feature__social .teaser h2 {
	font-size: 10em;
}
.feature__filling {
    /*margin-bottom: 15px;*/
}
.feature__social figcaption img {
	width: 80px;
}
.feature__social span {
	display: block;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	height: 63px;
}
.feature__social:hover h4 {
    -webkit-transform: translate3d(0, 150px, 0) scale(1);
    -moz-transform: translate3d(0, 150px, 0) scale(1);
    -ms-transform: translate3d(0, 150px, 0) scale(1);
    -o-transform: translate3d(0, 150px, 0) scale(1);
    transform: translate3d(0, 150px, 0) scale(1);
}
.feature__social:hover .teaser h2 {
	transform: translateY(-170%);
}
.to__order {
	height: 450px;
	padding: 0 35px;
	text-align: center;
	/*background-image: url(../img/текст.jpg);*/
	font-size: 80px;
	line-height: 50px;
	border: 10px solid rgba(120,109,98,.8);
	margin-top: 15px;
	color: #473F36;
}
.to__order h3 {
	text-align: center;
	font-size: 150px;
	line-height: 90px;
}
@media (min-width: 0px) and (max-width: 767px) {
	.to__order h3 {
		text-align: center;
		font-size: 15vw;
		line-height:13vw;
		margin: 0;
	}
}
.to__order img {
	position: absolute;
	width: 100px;
    left: 60px;
    top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
	.to__order img {
	    top: calc(50% - 80px);
	}
}
.column-order {
	/*background-color: rgba(251,244,220,.3);*/
	height: 150px;
	margin-bottom: 60px;
}

@media (min-width: 0px) and (max-width: 767px) {
	.column-order {
		height: auto;
		margin-bottom: 0px;
	}
	.column-order form {
		display: inline-block;
		margin-bottom: 20px;
	}
	.to__order .column-form {
		margin-left: 60px;
		width: calc(100% - 40px);
	}
}
.column-order:last-child {
	margin-bottom: -70px;
}

.btn-column-order {
	font-size: 0;
}

.order-number {
    border: 1px solid #8e7568;
	border-radius: 2px;
	border-color: rgba(0,0,0,0.2);
    background-color: rgba(120,109,98,.8);
	line-height: 100px;
    padding: 0;
    font-size: 80px;
}
@media (min-width: 0px) and (max-width: 980px) {
    .order-number {
    	font-size: 8vw;
    }
}
.order-number:hover {
	background-color: rgba(120,109,98,.5);
}
.column-order span {
	font-size: 80px;
	line-height: .6;
}
@media (min-width: 0px) and (max-width: 900px) {
	.column-order span {
		font-size: 9vw;
		line-height: .6;
	}
}

@media (min-width: 0px) and (max-width: 767px) {
	.order-number {
	    border: none;
	    background-color: transparent;
	}
	.order-number:hover {
		background-color: transparent;
	}
}

.column-order input {
	margin-top: 20px;
	height: 50px;
	width: 150px;
    border: 1px solid rgba(0, 0, 0, .5);
	border-radius: 2px;
	color: #473F36;
	background-color: #fbf4dd;
	font-size: 65px;
	line-height: 50px;
	vertical-align: top;
}
.column-order button {
	margin-top: 20px;
	height: 50px;
	width: auto;
    border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 2px;
	font-size: 65px;
	line-height: 20px;
	vertical-align: middle;
	background-color: rgba(247,150,140,.8);
	color: #473F36;
}
.column-order button span {
	font-size: 65px;
}
@media (min-width: 0px) and (max-width: 799px) {
	.column-order button span {
		font-size: 9.5vw;
	}
}
.column-order button:hover {
	background-color: rgba(245,105,140,.8);
	color: #fbf4dd;
}

footer {
	margin: 30px 2% 30px;
	height: 100px;
	background-image: url(../img/brick_49_mini.jpg);
	background-color: rgba(120,109,98,.7);
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	font-size: 96px;
	font-weight: ;
}
footer img {
	margin-bottom: 10px;
}
.viber-icon {
	fill: #fbf4dd;
}
.btn-viber:hover .viber-icon {
	fill: #473F36;
}
/*-------------------------------------------
Страничка с тортами
---------------------------------------------*/
.collumn-all {
	margin-top: 30px;
}
.collumn-all img{
}
.filling-column {
	text-align: center;
	vertical-align: middle;
}
.filling-img {
	border: 2px solid rgba(0, 0, 0, .5);
}
.filling-text {
	font-size: 60px;
	line-height: 40px;
	text-align: justify;
	color: #473F36;
}
.filling-title {
	font-size: 80px;
	line-height: 60px;
	margin-top: 0px;
	padding-left: 20px;
	padding-bottom: 15px;
	color: #473F36;
}
.filling-block {
	margin-bottom: 15px;
}