/*rgb(147,133,119);*/
/*#180E00*/
/*#473F36*/
/*#4D463C*/

body {
	background:  #FBDDFA url("../img/body-bg1700.jpg") repeat;
	font-family: "Highliner", sans-serif;
	color: #fbf4dd;
	/*font-size: 60px;*/
	/*font-family: "Gabriola", "Arial", sans-serif;*/
}
@media (min-width: 1200px) {
	.container {
	    width: 1000px;
	}
	.wrapper-menu {
		display: none;
	}
}
.header-col {
	padding-top: 15px;
	text-align: center;
}
.header-col-phone {
	padding-top: 3px;
}
.header-phone {
	font-size: 4em;
	line-height: 0.8;
	color: #473F36;
}
.col-social-icon {
	padding-top: 35px;
}
.col-social-icon:active:hover:focus {
	background-color: rgba(179,145,107,.8);
}

.fa {
	color: #fbf4dd;
}
.fa:hover {
	color: #473F36;
}
.fa:active {
	color: #4D463C;
}
.fa:focus {
	color: #473F36;
}
.btn-lg,
.btn-group-lg > .btn {
    padding: 13px 35px;
    font-size: 4em;
    line-height: 0.8;
    border-radius: 0px;
    border: 2px solid #8e7568;
}
.btn-social-icon.btn-xs {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    background-color: rgba(120,109,98,.8);
}
.btn-social-icon:hover.btn-xs {
    background-color: rgba(120,109,98,.5);
}
.btn-social-icon.btn-xs > :first-child {
    line-height: 75px;
    font-size: 4em;
}
.btn-phone {
	height: 200px;
	height: 68px;
	width: 240px;
	margin-right: 10px;
	background-color: rgba(120,109,98,.8);
	padding: 4px 90px 10px 15px;
	color: #fbf4dd;
	position: relative;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 3.5em;
	line-height: 0.5;
	border-radius: 3px;
	border-color: rgba(0,0,0,0.2);
	font-weight: bold;
}
.btn-phone:hover {
	/*color: #473F36;*/
	color: rgba(245,219,162,.9);
	background-color: rgba(120,109,98,.83);
}
.btn-phone:active {
	color: rgba(245,219,162,.7);
}
.btn-phone:focus {
	color: rgba(245,219,162,.9);
}
.btn-phone-icon:after {
	content: "\260e";
	position: absolute;
	top: 0px;
	left: 1;
	right: 15px;
	width: 60px;
	height: 60px;
	line-height: 70px;
	font-size: 130%;
	font-weight: 700;
	text-align: center;
	/*text-shadow: #4D463C 0 1px 2px;*/
	color: #fbf4dd;
	margin: auto;
}
.btn-phone:hover .btn-phone-icon::after {
 	color: rgba(245,219,162,.9);
}
.btn-phone:active .btn-phone-icon::after {
 	color: rgba(245,219,162,.7);
}
.btn-phone:focus .btn-phone-icon::after {
 	color: rgba(245,219,162,.9);
}
.wrapper-menu {
	height: 110px;
	max-width: 940px;
	margin: 0 auto;
	/*background-color: rgba(202,19,84,0.3);*/
	border-radius: 0 0 40px 40px;
}
@media (min-width: 768px) {
	.wrapper-menu {
		display: none;
	}
}
.wrapper-menu .container{
	max-width: 940px;
}
.navbar-default {
    background-color: rgba(0,0,0,.0);
    border-color: rgba(0,0,0,.0);
}
.nav > li > a {
    padding: 0px 30px;
}
.nav > li:last-child > a {
    padding: 0px 40px 0px 0px;
}
@media (max-width: 900px) {
	.nav > li:last-child > a {
	    padding: 0px 30px;
	}
	.navbar-brand {
	    height: 37px;
	}
}
.navbar-default .navbar-nav > li > a {
  color: #4c4c4c;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fbf4dd;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-nav > li > a {
    line-height: 24px;
    font-size: 24px;
}
.navbar-brand__logo {
	position: absolute;
	margin: 0 auto;
	top: 5px;
	right: 0;
	left: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.container-fluid {
    margin-top: 35px;
}
.navbar-toggle {
    margin-top: -20px;
    float: left;
}
.navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
}
.carousel {
    width: auto;
    max-width: 900px;
    height: 300px;
    margin: 15px auto 0;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 300px;
    width: auto;
    max-width: 900px;
}
.carousel-caption {
	/*font-size: 4em;*/
	line-height: 30px;
}
h1 {
	margin-bottom: 0;
	line-height: 0.8;
    font-size: 8em;
}
h2 {
	margin: 0;
	line-height: 0.8;
    font-size: 6em;
}
/*.wrapper-promo {
	overflow: hidden;
	margin: 0;
	width: 72%;
	float: left;
}*/
.order-wrapper {
	max-width: 900px;
	margin: 20px auto;
}
.order-column {
	padding: 0;
	background-image: url(../img/370.jpeg);
	/*background-color: rgba(202,19,84,0.3);*/
	border: 2px solid rgba(0,0,0,.2);
	/*border-radius: 3px;*/
}
.promo-text {
	overflow: hidden;
	margin: 0;
	width: 80%;
	float: left;
}
.promo-text__item {
	padding-top: 15px;
	/*font-size: 10em;*/
	line-height: 20px;
}
.order-form {
    /*float: right;*/
    padding: 17px 0px 0px 0px;
    margin-top: 13px;
    border: 1px solid #76451A;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 13px;
    animation-delay: 6000ms;
    text-align: center;
}
.order-form__quest {
	font-size: 200%;
	font-weight: 600;
	line-height: 80%;
}
.order-form__input {
	border: 1px solid #f7f8f8;
	border-radius: 5px;
	margin-bottom: 3px;
	padding-left: 5px;
	width: 85%;
}
.btn-order {
	width: 90%;
	margin-top: 5px;
	border-radius: 5px;
	background: #9a7f80;
	border: 0px solid;
}
.btn-order__txt {
	color: #fbf4dd;
	font-weight: bold;
	font-size: 15px;
}
.carousel-caption {
    font-size: 4em;
    line-height: 80%;
}
.carousel-caption {
    right: 10px;
    left: 10px;
    padding-bottom: 0px;
}
.carousel-indicators {
    bottom: 60px;
}
.carousel-inner > .item {
    height: 100%;
    background-color: rgba(137,115,102,.8);
}
.carousel-inner {
    height: 100%;
}
.carousel {
    height: 370px;
}

/*фон на стрелочках на корусели*/
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(137, 115, 102, .7) 0%, rgba(137, 115, 102, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(137, 115, 102, .7) 0%, rgba(137, 115, 102, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(137, 115, 102, .7)), to(rgba(137, 115, 102, .0001)));
    background-image: linear-gradient(to right, rgba(137, 115, 102, .7) 0%, rgba(137, 115, 102, .0001) 100%);
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(137, 115, 102, .0001) 0%, rgba(137, 115, 102, .7) 100%);
    background-image: -o-linear-gradient(left, rgba(137, 115, 102, .0001) 0%, rgba(137, 115, 102, .7) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(137, 115, 102, .0001)), to(rgba(137, 115, 102, .7)));
    background-image: linear-gradient(to right, rgba(137, 115, 102, .0001) 0%, rgba(137, 115, 102, .7) 100%);
}