.zeroing, .main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .main-menu {
    display: none;
  }
  .main-menu ul {
    text-align: right;
  }
  .main-menu li {
    display: inline-block;
    text-align: center;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #030001;
  }
  .main-menu a {
    display: block;
    padding: 22px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
  }
}
