$color-text-header: #fff;
$color-bg-header: rgba(0,0,0,.3);
$color-text-tagline: rgba(255,255,255,.9);
$color-comment: rgba(255,255,255,.6);
$color-bg: #f2f2f2;
$color-text: #283645;
$color-link: #d22856;
$color-study-title: #000;
$color-main-menu: rgba(255,255,255,.9);
$color-slider-HVR: #7e868f;
$color-slider-bullet: #bec2c7;
$color-slider-DOWN: #e9ebec;
