.menu {
	display: none;
	position: absolute;
	top: 0;
	min-width: 320px;
	background-color: $color-text;

	@media screen and ( min-width: 700px ) {
		width: 100%;
		max-width: 700px;
	}

	&__header {
		padding: 20px;
		border-bottom: 1px solid #030001;

		@media screen and ( min-width: 700px ) {
			padding: 27px 41px;
			height: 110px;
		}
	}
	&__close {
		float: right;
		width: 23px;

		@media screen and ( min-width: 700px ) {
			margin-top: 18px;
		}
	} 

	&__close-cross {
		fill: #fff;
	}

	&__items ul {
		margin: 0;
		padding: 0; 
		list-style: none;
		font-size: 0;
		text-align: center;
	}

	&__items li {
		text-align: center;
		border-top: 1px solid #485461;
		border-bottom: 1px solid #030001;
	}

	&__items a {
		display: block;
		padding: 22px 0;
		text-decoration: none;
		font-size: 18px;
		font-weight: bold;
		line-height: 18px;
		color: #fff;
		text-transform: uppercase;
	}
}
